.about {
  padding-top: 130px;
}

.about-container {
  @extend %container;
}

.about-heading {
  color: var(--black-color);
  text-align: center;
  font-family: 'Fixel';
  font-size: 52px;
  font-weight: 500;
  line-height: 1.3;
  text-transform: uppercase;
  margin-bottom: 64px;
}

.about-wrapper {
  display: flex;
}

.about-p {
  background-color: var(--black-color);
  border-radius: 18px;
  padding: 40px 28px;
  width: 797px;
  height: 346px;
  margin-right: 20px;
  & p {
    margin-bottom: 8px;
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.about-video-wrapper {
  width: 563px;
  height: 680px;
  overflow: hidden;
  border-radius: 18px;
}

.about-video {
  width: 563px;
  position: relative;
  top: -160px;
}

.img-wrapper {
  display: flex;
  position: relative;
  top: -314px;
}

.all-team-img {
  border-radius: 18px;
  margin-right: 20px;
  width: 447px;
}

.part-team-img {
  border-radius: 18px;
  margin-right: 20px;
  width: 330px;
}

.play-btn{
  width:563px;
  height:680px;
  display:flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  background: transparent;
  border:none;
  position:absolute;
  cursor: pointer;
}