.doctors-container {
  @extend %container;
}

.doctors-heading {
  color: var(--black-color);
  text-align: center;
  font-family: 'Fixel';
  font-size: 52px;
  font-weight: 500;
  line-height: 1.3;
  text-transform: uppercase;
  margin-bottom: 64px;
}

.doctors-list{
    display:flex;
}
