:root {
    --text-color:#E9E9E9;
    --accent-color:#C5E95C;
    --black-color: #202020;
    --gray-color: #C9C9C9;
    --gray-input-color: #F1F1F1;


    --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}