<section class="about">
  <div class="about-container">
    <h2 class="about-heading">Про нас</h2>
    <div class="about-wrapper">
      <div class="about-p">
        <p>
          PRECISION DENTAL STUDIО - це ком'юніті молодих професіоналів, які не
          просто зарабляють гроші своєю улюбленою справою, а й надають якісне,
          &nbsp високоестетичне та функціональне лікування для кожного клієнта.
          Ми тут, щоб руйновати стереотипи і робити Вашу посмішку ще кращою!
        </p>
        <p>
          Ми прагнемо досягти навищого рівня зручності для наших пацієнтів. Наша
          команда вірить, що саме в комфортних умовах можна якісно виконати
          роботи &nbsp будь-якої складності.
        </p>
        <p>
          Ваш комфорт до, під час та після лікування - це маркер нашої роботи, і
          для нас дуже важливо щоб Ви відчували себе спокійно та розслаблено під
          час усього вашого шляху до посмішки вашої мрії.
        </p>
      </div>
      <div class="about-video-wrapper">
        <video class="about-video" autoplay muted loop id="about_video">
          <source src="./videos/about_video.mp4" type="video/mp4" />
        </video>
      </div>
    </div>
    <div class="img-wrapper">
      <img
        class="all-team-img"
        src="./images/all-team.png"
        alt="team photo"
        width="447px"
        height="314px"
      />
      <img
        class="part-team-img"
        src="./images/part-team.png"
        alt="team photo"
        width="330px"
        height="314px"
      />
    </div>
  </div>
</section>
