<section id="advantages" class="advantages">
  <div class="advantages-container">
    <h2 class="advantages-heading">Наші переваги</h2>
    <div class="advantages-wrapper">
      <ul class="advantages-list-left">
        <li>
          &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspЄвропейське
          обладнання
        </li>
        <li>
          &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspЛікування під мікроскопом
        </li>
        <li>Фотопротокол і план лікування</li>
      </ul>
      <ul class="advantages-svg-left">
        <li>
          <svg width="24" height="24" class="marker-svg">
            <use href="./images/sprite.svg#li-marker"></use>
          </svg>
        </li>
        <li>
          <svg width="24" height="24" class="marker-svg">
            <use href="./images/sprite.svg#li-marker"></use>
          </svg>
        </li>
        <li>
          <svg width="24" height="24" class="marker-svg">
            <use href="./images/sprite.svg#li-marker"></use>
          </svg>
        </li>
      </ul>
      <div class="advantages-img-wrapper">
        <img
          src="./images/teeth.png"
          alt="teeth image"
          width="244px"
          height="176px"
        />
      </div>
      <ul class="advantages-svg-right">
        <li>
          <svg width="24" height="24" class="marker-svg">
            <use href="./images/sprite.svg#li-marker"></use>
          </svg>
        </li>
        <li>
          <svg width="24" height="24" class="marker-svg">
            <use href="./images/sprite.svg#li-marker"></use>
          </svg>
        </li>
        <li>
          <svg width="24" height="24" class="marker-svg">
            <use href="./images/sprite.svg#li-marker"></use>
          </svg>
        </li>
      </ul>
      <ul class="advantages-list-right">
        <li>Ефективне знеболювання</li>
        <li>Технології стерилізації</li>
        <li>комфорт при лікуванні</li>
      </ul>
    </div>
  </div>
</section>
