<section id="doctors" class="doctors">
  <div class="doctors-container">
    <h2 class="doctors-heading">Лагідні спеціалісти</h2>
    <ul class="doctors-list">
      <li>
        <svg width="48" height="45" class="doctors-card-arrow">
          <use href="./images/sprite.svg#card-arrow"></use>
        </svg>
        <img
          src="./images/mykhailo.png"
          alt="doctor mykhailo"
          width="330px"
          height="332px"
          class="doctors-img"
        />
        <p class="doctors-name">
          Михайло <br />
          Гелетей
        </p>
        <a
          href="https://www.instagram.com/dr.geletey?igsh=MWpqdDF1eDB6Mjg5bw=="
          target="_blank"
        >
          <svg width="45" height="45" class="doctors-inst">
            <use href="./images/sprite.svg#doctors-inst"></use>
          </svg>
        </a>

        <p class="doctors-description">лікар хірург-ортопед, 5 років досвіду</p>
      </li>
      <li>
        <svg width="48" height="45" class="doctors-card-arrow">
          <use href="./images/sprite.svg#card-arrow"></use>
        </svg>
        <img
          src="./images/vitalii.png"
          alt="doctor vitalii"
          width="330px"
          height="332px"
          class="doctors-img"
        />
        <p class="doctors-name">
          Віталій <br />
          Передерій
        </p>
        <a
          href="https://www.instagram.com/dr.perederij?igsh=cnh1c3o3bW0xeTBz"
          target="_blank"
        >
          <svg width="45" height="45" class="doctors-inst">
            <use href="./images/sprite.svg#doctors-inst"></use>
          </svg>
        </a>

        <p class="doctors-description">
          лікар терапевт-ортопед, 5 років досвіду
        </p>
      </li>
      <li>
        <svg width="48" height="45" class="doctors-card-arrow">
          <use href="./images/sprite.svg#card-arrow"></use>
        </svg>
        <img
          src="./images/dmytro.png"
          alt="doctor dmytro"
          width="330px"
          height="332px"
          class="doctors-img"
        />
        <p class="doctors-name">
          Дмитро <br />
          Добровольський
        </p>
        <a
          href="https://www.instagram.com/dod.endo?igsh=MTdwZXlhNWhzaWs5Zg=="
          target="_blank"
        >
          <svg width="45" height="45" class="doctors-inst">
            <use href="./images/sprite.svg#doctors-inst"></use>
          </svg>
        </a>
        <p class="doctors-description">лікар ендодонтист, 5 років досвіду</p>
      </li>
      <li>
        <svg width="48" height="45" class="doctors-card-arrow">
          <use href="./images/sprite.svg#card-arrow"></use>
        </svg>
        <img
          src="./images/darina.png"
          alt="doctor darina"
          width="330px"
          height="332px"
          class="doctors-img"
        />
        <p class="doctors-name">
          Дарина <br />
          Лазоренко
        </p>
        <a
          href="https://www.instagram.com/darinalazorenko?igsh=cXZ5enV1ZXY2czdu"
          target="_blank"
        >
          <svg width="45" height="45" class="doctors-inst">
            <use href="./images/sprite.svg#doctors-inst"></use>
          </svg>
        </a>
        <p class="doctors-description">
          дитячий лікар-стоматолог, 5 років досвіду
        </p>
      </li>
    </ul>
  </div>
</section>
