<section id="doctors" class="doctors">
  <div class="doctors-container">
    <h2 class="doctors-heading">Лагідні спеціалісти</h2>
    <ul class="doctors-list">
      <li>
        <svg width="24" height="24" class="#">
          <use href="#"></use>
        </svg>
        <img src="#" alt="" />
        <p>Михайло Гелетей</p>
        <svg width="24" height="24" class="#">
          <use href="#"></use>
        </svg>
        <p>лікар хірург-ортопед, 5 років досвіду</p>
      </li>
      <li>
        <svg width="24" height="24" class="#">
          <use href="#"></use>
        </svg>
        <img src="#" alt="" />
        <p>Віталій Передерій</p>
        <svg width="24" height="24" class="#">
          <use href="#"></use>
        </svg>
        <p>лікар терапевт-ортопед, 5 років досвіду</p>
      </li>
      <li>
        <svg width="24" height="24" class="#">
          <use href="#"></use>
        </svg>
        <img src="#" alt="" />
        <p>Дмитро Добровольський</p>
        <svg width="24" height="24" class="#">
          <use href="#"></use>
        </svg>
        <p>лікар ендодонтист, 5 років досвіду</p>
      </li>
      <li>
        <svg width="24" height="24" class="#">
          <use href="#"></use>
        </svg>
        <img src="#" alt="" />
        <p>Дарина Лазоренко</p>
        <svg width="24" height="24" class="#">
          <use href="#"></use>
        </svg>
        <p>дитячий лікар-стоматолог, 5 років досвіду</p>
      </li>
    </ul>
  </div>
</section>
