<header>
  <div class="container">
    <a href="./index.html" class="logo">
      <svg width="156" height="90" class="logo_svg">
        <use href="./images/sprite.svg#logo"></use>
      </svg>
    </a>
    <div class="header_container">
      <nav>
        <ul class="nav">
          <li><a href="./index.html">Головна</a></li>
          <li><a href="#about">Про нас</a></li>
          <li><a href="#advantages">Переваги</a></li>
          <li><a href="#doctors">Лікарі</a></li>
          <li><a href="#prices">Ціни</a></li>
          <li><a href="#gallery">Галерея</a></li>
          <li><a href="#promotions">Акції</a></li>
          <li><a href="#contacts">Контакти</a></li>
        </ul>
      </nav>
      <div class="address_container">
        <div class="nav_svg_container">
          <img src="./images/nav-gif.gif" class="nav_arr" />
        </div>
        <span class="address">Київ, вул. Малоземельна, 75</span>
        <span
          ><button class="lang_ua">UA</button>/<button class="lang_en">
            EN
          </button></span
        >
      </div>
    </div>
  </div>
</header>
