<section class="hero">
  <div class="hero-container">
    <h1 class="heading">Precision Dental Studio</h1>
    <p class="hero-zone">Ваша стоматологічна зона комфорту</p>
    <p class="hero-cure">Ми лікуємо лагідно зі знижкою -5% на перший візит</p>
    <button type="button" class="hero-btn">
      Забронювати візит
      <span class="hero-arrow-wrapper">
        <svg width="24" height="24" class="hero-arrow">
          <use href="./images/sprite.svg#arrow"></use>
        </svg>
      </span>
    </button>
    <div class="hero-socials">
      <a href="https://t.me/precisiondentalstudio" target="_blank">
        <svg width="45" height="45">
          <use href="./images/sprite.svg#telegram"></use>
        </svg>
      </a>
      <a href="viber://chat?number=%20[0991011237]" target="_blank">
        <svg width="45" height="45">
          <use href="./images/sprite.svg#viber"></use>
        </svg>
      </a>
      <a
        href="https://www.instagram.com/precision_dental_studio?igsh=MXI1NHJ0cGliNDdmcg=="
        target="_blank"
      >
        <svg width="45" height="45">
          <use href="./images/sprite.svg#instagram"></use>
        </svg>
      </a>
    </div>
  </div>
</section>
